# Importing Data

In [117]:
#importing libraries
import pandas as pd
from IPython.display import display
import numpy as np

In [118]:
#import data from data folder
suicide_data = pd.read_csv('data/suicide_rates_1990-2022.csv')
hdi_data = pd.read_csv('data/hdi.csv')
gini_coef_data = pd.read_csv('data/gini-coefficient.csv')

In [119]:
suicide_data.head()

,RegionCode,RegionName,CountryCode,CountryName,Year,Sex,SuicideCount,CauseSpecificDeathPercentage,StdDeathRate,DeathRatePer100K,Population,GDP,GDPPerCapita,GNI,GNIPerCapita,InflationRate,EmploymentPopulationRatio
0,EU,Europe,ALB,Albania,1992,Male,33,0.331959,2.335802,2.076386,3247039.0,6.521750e+08,200.852220,9.061842e+08,1740.0,226.005421,45.315
1,EU,Europe,ALB,Albania,1992,Female,14,0.191860,0.866420,0.874563,3247039.0,6.521750e+08,200.852220,9.061842e+08,1740.0,226.005421,45.315
2,EU,Europe,ALB,Albania,1993,Male,46,0.477724,3.330938,2.937233,3227287.0,1.185315e+09,367.279225,1.024263e+09,2110.0,85.004751,47.798
3,EU,Europe,ALB,Albania,1993,Female,27,0.385164,1.755077,1.686025,3227287.0,1.185315e+09,367.279225,1.024263e+09,2110.0,85.004751,47.798
4,EU,Europe,ALB,Albania,1994,Male,37,0.419406,2.678796,2.332619,3207536.0,1.880951e+09,586.416135,1.216681e+09,2300.0,22.565053,50.086

In [120]:
hdi_data.head()

,ISO3,Country,Human Development Groups,UNDP Developing Regions,HDI Rank (2021),Human Development Index (1990),Human Development Index (1991),Human Development Index (1992),Human Development Index (1993),Human Development Index (1994),...,Material footprint per capita (tonnes) (2012),Material footprint per capita (tonnes) (2013),Material footprint per capita (tonnes) (2014),Material footprint per capita (tonnes) (2015),Material footprint per capita (tonnes) (2016),Material footprint per capita (tonnes) (2017),Material footprint per capita (tonnes) (2018),Material footprint per capita (tonnes) (2019),Material footprint per capita (tonnes) (2020),Material footprint per capita (tonnes) (2021)
0,AFG,Afghanistan,Low,SA,180.0,0.273,0.279,0.287,0.297,0.292,...,1.86,1.88,1.66,1.62,1.66,1.41,1.32,1.38,1.38,1.38
1,AGO,Angola,Medium,SSA,148.0,NaN,NaN,NaN,NaN,NaN,...,4.09,4.53,3.97,3.59,2.79,2.64,2.28,2.18,2.18,2.18
2,ALB,Albania,High,ECA,67.0,0.647,0.629,0.614,0.617,0.624,...,12.44,11.49,13.14,12.61,14.39,14.46,12.85,12.96,12.96,12.96
3,AND,Andorra,Very High,NaN,40.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ARE,United Arab Emirates,Very High,AS,26.0,0.728,0.739,0.742,0.748,0.755,...,49.56,49.68,55.49,59.76,64.95,75.61,65.97,68.95,68.95,68.95

In [121]:
gini_coef_data.head()

   Country  Year  Gini coefficient
0  Albania  1996          0.270103
1  Albania  2002          0.317390
2  Albania  2005          0.305957
3  Albania  2008          0.299847
4  Albania  2012          0.289605

## Summary of the Dataset

 - find all the features, what columns
 - how many records does it contain?

In [122]:
#suicide dataset
print("Suicide Dataset Summary:")
print("-----------------------")
print("All Features:")
print(list(suicide_data.columns))
print("Total Entries:", suicide_data.shape[0])

print("\n")

print("Human Development Index Dataset Summary:")
print("-----------------------")
print("All Features:")
print(list(hdi_data.columns))
print("Total Entries:", hdi_data.shape[0])

print("\n")

print("Gini Coefficient Dataset Summary:")
print("-----------------------")
print("All Features:")
print(list(gini_coef_data.columns))
print("Total Entries:", gini_coef_data.shape[0])

Suicide Dataset Summary:
-----------------------
All Features:
['RegionCode', 'RegionName', 'CountryCode', 'CountryName', 'Year', 'Sex', 'SuicideCount', 'CauseSpecificDeathPercentage', 'StdDeathRate', 'DeathRatePer100K', 'Population', 'GDP', 'GDPPerCapita', 'GNI', 'GNIPerCapita', 'InflationRate', 'EmploymentPopulationRatio']
Total Entries: 5928


Human Development Index Dataset Summary:
-----------------------
All Features:

### Cleaning the data

- check for missing values, isnull. then also replace/format kya karna
- are there any missing values that were filled in using a default
- which parts of the data were entered by humans, are there any misspellings
- combining datasets, group by?
- merging columns if needed?
- cleaning the data format of entries if needed
- plots

In [123]:
#starting w suicide data.
#check are there any rows with null values

#what percent of columns can be missing
null_percent = 25

total_rows = len(suicide_data)
total_cols = suicide_data.shape[1]
null_count_per_row = suicide_data.isnull().sum(axis=1)
row_null_pct = (null_count_per_row / total_cols) * 100

rows_greater_than_null_perc = suicide_data.loc[row_null_pct > null_percent].copy()

number_of_null = len(rows_greater_than_null_perc)

if total_rows > 0:
    percent_null_rows = (number_of_null / total_rows) * 100
else:
    percent_null_rows = 0.0

percent_str = f"{percent_null_rows:.2f}"

print(f"total rows: {total_rows}")
print(f"Rows with >{null_percent}% nulls: {number_of_null} ({percent_str}%)\n")


# which columns are most frequently missing in these rows
print("\nColumns most frequently missing in these rows:")
col_missing = rows_greater_than_null_perc.isnull().sum().sort_values(ascending=False)
display(col_missing[col_missing > 0])


high_missing_suicide = rows_greater_than_null_perc
high_missing_suicide

total rows: 5928
Rows with >25% nulls: 310 (5.23%)


Columns most frequently missing in these rows:

InflationRate                310
GNIPerCapita                 310
GNI                          310
GDPPerCapita                 310
GDP                          310
EmploymentPopulationRatio    296
Population                   296
DeathRatePer100K               4
StdDeathRate                   4
dtype: int64

,RegionCode,RegionName,CountryCode,CountryName,Year,Sex,SuicideCount,CauseSpecificDeathPercentage,StdDeathRate,DeathRatePer100K,Population,GDP,GDPPerCapita,GNI,GNIPerCapita,InflationRate,EmploymentPopulationRatio
690,EU,Europe,BIH,Bosnia and Herzegovina,1991,Male,457,2.686655,19.391724,20.268772,4502386.0,NaN,NaN,NaN,NaN,NaN,37.430
691,EU,Europe,BIH,Bosnia and Herzegovina,1991,Female,74,0.541331,3.270640,3.268984,4502386.0,NaN,NaN,NaN,NaN,NaN,37.430
1525,NAC,North America and the Caribbean,CUB,Cuba,2021,Male,1476,1.604104,18.024194,26.273074,11256372.0,NaN,NaN,NaN,NaN,NaN,53.125
1526,NAC,North America and the Caribbean,CUB,Cuba,2021,Female,322,0.425583,3.761503,5.649540,11256372.0,NaN,NaN,NaN,NaN,NaN,53.125
2034,EU,Europe,EST,Estonia,1991,Male,319,3.321187,41.456444,43.689533,1561314.0,NaN,NaN,NaN,NaN,NaN,65.767
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5923,AF,Africa,MYT,Mayotte,2015,Female,0,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5924,AF,Africa,REU,R?union,2016,Male,68,2.636681,15.399045,16.144005,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5925,AF,Africa,REU,R?union,2016,Female,17,0.796253,3.521507,3.790134,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5926,AF,Africa,REU,R?union,2015,Male,79,3.212688,18.702514,18.895318,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5927,AF,Africa,REU,R?union,2015,Female,20,0.965251,3.887067,4.491697,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [124]:
indexes_to_drop = high_missing_suicide.index.tolist()

suicide_data = suicide_data.drop(indexes_to_drop).reset_index(drop=True)
print(f"Dropped {len(indexes_to_drop)} rows. Remaining rows: {len(suicide_data)}")

Dropped 310 rows. Remaining rows: 5618

In [125]:
# need to check specifically are there any null values in GDP column
gdp_null_count = suicide_data['GDP'].isnull().sum()
print(f"Number of null values in GDP column: {gdp_null_count}")

#display rows with null values in GDP column
gdp_null_rows = suicide_data[suicide_data['GDP'].isnull()]
# display(gdp_null_rows)

#dropping these rows
indexes_to_drop = gdp_null_rows.index.tolist()
suicide_data = suicide_data.drop(indexes_to_drop).reset_index(drop=True)
print(f"Dropped {len(indexes_to_drop)} rows. Remaining rows: {len(suicide_data)}")

Number of null values in GDP column: 52
Dropped 52 rows. Remaining rows: 5566

Combining Rows w Same Country Different Gender

In [129]:
df = suicide_data.copy()


RATE_COLS   = [c for c in ['DeathRatePer100K','StdDeathRate','CauseSpecificDeathPercentage'] if c in df.columns]
STABLE_COLS = [c for c in ['Population','GDP','GDPPerCapita','GNI','GNIPerCapita','InflationRate','EmploymentPopulationRatio'] if c in df.columns]

agg = {'SuicideCount':'sum'}
agg.update({c:'mean'  for c in RATE_COLS})
agg.update({c:'first' for c in STABLE_COLS})

df = (
    df.groupby(['RegionCode','RegionName','CountryCode','CountryName','Year','Sex'], as_index=False)
      .agg(agg)
)


# Simple weighted average helper (weights = SuicideCount)
def wavg(values, suicide_counts):
    # keep only rows where the value exists
    values = pd.Series(values)
    suicide_counts = pd.Series(suicide_counts)
    not_null = values.notna()
    values = values[not_null]
    suicide_counts = suicide_counts[not_null]
    
    if len(values) == 0:
        return np.nan
    # if no weights (or they sum to 0), fall back to plain mean
    if suicide_counts.fillna(0).sum() == 0:
        return values.mean()

    # weighted average = sum(v * w) / sum(w)
    return (values * suicide_counts).sum() / suicide_counts.sum()

def combine_group(g: pd.DataFrame) -> pd.Series:
    # columns that are same within group → take first
    row = {
        'RegionCode': g['RegionCode'].iloc[0],
        'RegionName': g['RegionName'].iloc[0],
        'CountryCode': g['CountryCode'].iloc[0],
        'CountryName': g['CountryName'].iloc[0],
        'Year': g['Year'].iloc[0],
    }

    # Totals and shared (country-level) fields
    total_suicides = g['SuicideCount'].sum()
    row['SuicideCount'] = total_suicides

    # Rates:
    # ---- Rates: always suicide-weighted average ----
    for col in RATE_COLS:
        if col in g.columns:
            row[col] = wavg(g[col], g['SuicideCount'])

    # These should be identical for Male/Female → just take first
    for c in STABLE_COLS:
        row[c] = g[c].iloc[0]


    return pd.Series(row)

# Build the combined dataset: one row per (Country, Year)
suicide_data_combined = (
    df.groupby(['RegionCode','RegionName','CountryCode','CountryName','Year'], as_index=False, sort=True)
      .apply(combine_group)
      .sort_values(by=['CountryName', 'Year'])
      .reset_index(drop=True)
)


suicide_data = suicide_data_combined
suicide_data

/var/folders/gd/fbml3md579v7yjtq0f5jfpl40000gn/T/ipykernel_82874/2289559264.py:65: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(combine_group)

,RegionCode,RegionName,CountryCode,CountryName,Year,SuicideCount,DeathRatePer100K,StdDeathRate,CauseSpecificDeathPercentage,Population,GDP,GDPPerCapita,GNI,GNIPerCapita,InflationRate,EmploymentPopulationRatio
0,EU,Europe,ALB,Albania,1992,47,1.718396,1.898114,0.290227,3247039.0,6.521750e+08,200.852220,9.061842e+08,1740.0,226.005421,45.315
1,EU,Europe,ALB,Albania,1993,73,2.474457,2.748085,0.443489,3227287.0,1.185315e+09,367.279225,1.024263e+09,2110.0,85.004751,47.798
2,EU,Europe,ALB,Albania,1994,52,1.927536,2.191109,0.368643,3207536.0,1.880951e+09,586.416135,1.216681e+09,2300.0,22.565053,50.086
3,EU,Europe,ALB,Albania,1995,91,2.994703,3.081853,0.571692,3187784.0,2.392765e+09,750.604449,2.035220e+09,2710.0,7.793219,53.186
4,EU,Europe,ALB,Albania,1996,92,2.876627,3.137068,0.549586,3168033.0,3.199641e+09,1009.977111,2.823912e+09,3050.0,12.725478,53.039
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2730,CSA,Central and South America,VEN,Venezuela (Bolivarian Republic of),2010,775,3.781932,4.091346,0.655744,28715022.0,3.930000e+11,13692.914970,3.360000e+11,16380.0,28.187465,59.310
2731,CSA,Central and South America,VEN,Venezuela (Bolivarian Republic of),2011,764,3.898454,4.293747,0.660891,29096159.0,3.160000e+11,10877.112360,3.460000e+11,16960.0,26.090212,59.240
2732,CSA,Central and South America,VEN,Venezuela (Bolivarian Republic of),2012,731,3.542191,3.823889,0.584494,29470426.0,3.810000e+11,12937.927600,3.730000e+11,NaN,21.068996,58.945
2733,CSA,Central and South America,VEN,Venezuela (Bolivarian Republic of),2013,618,2.885841,3.090208,0.482841,29838021.0,3.710000e+11,12433.980790,3.570000e+11,NaN,40.639428,57.909
2734,CSA,Central and South America,VEN,Venezuela (Bolivarian Republic of),2014,569,2.727958,2.975724,0.426417,30193258.0,4.820000e+11,15975.729380,3.930000e+11,NaN,62.168650,57.925

In [130]:
#now check are there any rows left with null values
remaining_null_count = suicide_data.isnull().sum().sum()
print(f"Total remaining null values in the dataset: {remaining_null_count}")

#print the rows with remaining null values
remaining_null_rows = suicide_data[suicide_data.isnull().any(axis=1)]
display(remaining_null_rows)

#which columns have remaining null values amongst these rows
remaining_null_columns = remaining_null_rows.columns[remaining_null_rows.isnull().any()].tolist()
display(remaining_null_columns)

Total remaining null values in the dataset: 589

,RegionCode,RegionName,CountryCode,CountryName,Year,SuicideCount,DeathRatePer100K,StdDeathRate,CauseSpecificDeathPercentage,Population,GDP,GDPPerCapita,GNI,GNIPerCapita,InflationRate,EmploymentPopulationRatio
19,NAC,North America and the Caribbean,ATG,Antigua and Barbuda,1991,0,0.000000,0.000000,0.000000,63634.0,4.817074e+08,7569.969001,4.580519e+08,12760.0,NaN,NaN
20,NAC,North America and the Caribbean,ATG,Antigua and Barbuda,1992,0,0.000000,0.000000,0.000000,64659.0,4.992815e+08,7721.763119,4.812991e+08,13080.0,NaN,NaN
21,NAC,North America and the Caribbean,ATG,Antigua and Barbuda,1993,1,3.159657,2.738515,0.390625,65834.0,5.351741e+08,8129.144121,5.232994e+08,14050.0,NaN,NaN
22,NAC,North America and the Caribbean,ATG,Antigua and Barbuda,1994,0,0.000000,0.000000,0.000000,67072.0,5.894296e+08,8788.013323,5.681734e+08,15000.0,NaN,NaN
23,NAC,North America and the Caribbean,ATG,Antigua and Barbuda,1995,0,0.000000,0.000000,0.000000,68398.0,5.772815e+08,8440.034526,5.587536e+08,14340.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2727,CSA,Central and South America,VEN,Venezuela (Bolivarian Republic of),2007,897,4.598884,5.129302,0.816205,27525097.0,2.300000e+11,8369.235268,2.080000e+11,16780.0,NaN,59.730
2728,CSA,Central and South America,VEN,Venezuela (Bolivarian Republic of),2008,870,4.382299,4.854459,0.751752,27933833.0,3.160000e+11,11310.778170,2.600000e+11,17590.0,NaN,60.272
2732,CSA,Central and South America,VEN,Venezuela (Bolivarian Republic of),2012,731,3.542191,3.823889,0.584494,29470426.0,3.810000e+11,12937.927600,3.730000e+11,NaN,21.068996,58.945
2733,CSA,Central and South America,VEN,Venezuela (Bolivarian Republic of),2013,618,2.885841,3.090208,0.482841,29838021.0,3.710000e+11,12433.980790,3.570000e+11,NaN,40.639428,57.909
2734,CSA,Central and South America,VEN,Venezuela (Bolivarian Republic of),2014,569,2.727958,2.975724,0.426417,30193258.0,4.820000e+11,15975.729380,3.930000e+11,NaN,62.168650,57.925

['DeathRatePer100K',
 'StdDeathRate',
 'GNI',
 'GNIPerCapita',
 'InflationRate',
 'EmploymentPopulationRatio']

In [136]:

#Interpolate within each country by year
df = suicide_data.copy().sort_values(["CountryName", "Year"])

# for col in remaining_null_columns:
#     df[col] = df.groupby("CountryName")[col].apply(lambda g: g.interpolate(limit_direction="both"))


# Identify countries where at least one of the remaining_null_columns
# is completely NaN across all years (i.e., interpolation couldn't help)
country_all_nulls = (
    df.groupby(["CountryName"], group_keys=False)[remaining_null_columns]
      .apply(lambda g: pd.Series(g.isna().all().to_dict()))
)

# Keep only countries that have at least one fully-NaN column
country_all_nulls = country_all_nulls[country_all_nulls.any(axis=1)]
display(country_all_nulls)


# Get list of countries that have fully missing columns
countries_with_all_nulls = country_all_nulls.index.get_level_values("CountryName").unique()

# Print their rows from the main DataFrame
remaining_problem_rows = df[df["CountryName"].isin(countries_with_all_nulls)]
display(remaining_problem_rows.sort_values(["CountryName", "Year"]))

,DeathRatePer100K,StdDeathRate,GNI,GNIPerCapita,InflationRate,EmploymentPopulationRatio
CountryName,,,,,,
Antigua and Barbuda,False,False,False,False,False,True
Argentina,False,False,False,False,True,False
Bosnia and Herzegovina,False,False,False,False,True,False
Cuba,False,False,False,True,True,False
Dominica,True,True,False,False,False,True
Grenada,False,False,False,False,False,True
Puerto Rico,False,False,False,False,True,False
Saint Kitts and Nevis,True,True,False,False,False,True
Seychelles,False,False,False,False,False,True
Syrian Arab Republic,False,False,False,True,False,False
Turkmenistan,False,False,False,False,True,False

,RegionCode,RegionName,CountryCode,CountryName,Year,SuicideCount,DeathRatePer100K,StdDeathRate,CauseSpecificDeathPercentage,Population,GDP,GDPPerCapita,GNI,GNIPerCapita,InflationRate,EmploymentPopulationRatio
19,NAC,North America and the Caribbean,ATG,Antigua and Barbuda,1991,0,0.000000,0.000000,0.000000,63634.0,4.817074e+08,7569.969001,4.580519e+08,12760.0,NaN,NaN
20,NAC,North America and the Caribbean,ATG,Antigua and Barbuda,1992,0,0.000000,0.000000,0.000000,64659.0,4.992815e+08,7721.763119,4.812991e+08,13080.0,NaN,NaN
21,NAC,North America and the Caribbean,ATG,Antigua and Barbuda,1993,1,3.159657,2.738515,0.390625,65834.0,5.351741e+08,8129.144121,5.232994e+08,14050.0,NaN,NaN
22,NAC,North America and the Caribbean,ATG,Antigua and Barbuda,1994,0,0.000000,0.000000,0.000000,67072.0,5.894296e+08,8788.013323,5.681734e+08,15000.0,NaN,NaN
23,NAC,North America and the Caribbean,ATG,Antigua and Barbuda,1995,0,0.000000,0.000000,0.000000,68398.0,5.772815e+08,8440.034526,5.587536e+08,14340.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2564,AS,Asia,TKM,Turkmenistan,2011,130,2.947460,3.008251,0.489293,5360811.0,2.923333e+10,5453.155005,2.445479e+10,9850.0,NaN,47.276
2565,AS,Asia,TKM,Turkmenistan,2012,138,3.376809,3.320939,0.556631,5458682.0,3.516421e+10,6441.886618,2.930261e+10,10530.0,NaN,46.944
2566,AS,Asia,TKM,Turkmenistan,2013,101,2.282442,2.331381,0.365118,5560095.0,3.919754e+10,7049.797505,3.492961e+10,11220.0,NaN,46.669
2567,AS,Asia,TKM,Turkmenistan,2014,136,2.825652,2.801009,0.448361,5663152.0,4.352421e+10,7685.509859,3.938208e+10,11850.0,NaN,46.411
2568,AS,Asia,TKM,Turkmenistan,2015,133,2.769903,2.783372,0.440781,5766431.0,3.579971e+10,6208.296655,3.914269e+10,12440.0,NaN,46.275